{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "s3:ListBucket"
            ],
            "Resource": [
                "arn:aws:s3:::{{ bucket_name }}"
            ]
        },
        {
            "Effect": "Allow",
            "Action": [
                "s3:ListBucket"
            ],
            "Resource": [
                "arn:aws:s3:::{{ bucket_name }}"
            ],
            "Condition": {
                "StringLike": {
                    "s3:prefix": [
                        "archive/local/*",
                        "backup/local/*"
                    ]
                }
            }
        },
        {
            "Effect": "Allow",
            "Action": [
                "s3:DeleteObject"
            ],
            "Resource": [
                "arn:aws:s3:::{{ bucket_name }}/backup/{{ bucket_subdir }}/latest"
            ]
        },
        {
            "Effect": "Allow",
            "Action": [
                "s3:PutObjectTagging",
                "s3:GetObject",
                "s3:GetObjectVersion",
                "s3:PutObject"
            ],
            "Resource": [
                "arn:aws:s3:::{{ bucket_name }}/archive/{{ bucket_subdir }}/*",
                "arn:aws:s3:::{{ bucket_name }}/backup/{{ bucket_subdir }}/*"
            ]
        }
    ]
}