{%- if pillar.minio.api_port == 443 %}
{%- set minio_host_port = grains.id %}
{%- else %}
{%- set minio_host_port = grains.id ~ ':' ~ pillar.minio.api_port %}
{%- endif %}
{
	"version": "10",
	"aliases": {
		"salt": {
			"url": "https://{{ minio_host_port }}",
			"accessKey": "{{ pillar.minio.environment.root_user }}",
			"secretKey": "{{ pillar.minio.environment.root_password }}",
			"api": "S3v4",
			"path": "auto"
		},
		"local": {
			"url": "https://{{ minio_host_port }}",
			"accessKey": "{{ pillar.minio.environment.root_user }}",
			"secretKey": "{{ pillar.minio.environment.root_password }}",
			"api": "S3v4",
			"path": "auto"
		},
		"{{ grains.id }}": {
			"url": "https://{{ minio_host_port }}",
			"accessKey": "{{ pillar.minio.environment.root_user }}",
			"secretKey": "{{ pillar.minio.environment.root_password }}",
			"api": "S3v4",
			"path": "auto"
		}
	}
}